.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  margin: 6px 948px 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 755px;
  margin: 6px auto 6px 0;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-tabs-2 {
  margin-top: -30px;
  margin-bottom: -30px;
  min-height: 710px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: -30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: -30px 930px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 6px 930px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 9px 930px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  width: 183px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-1 .u-tabs-3 {
  margin-top: -30px;
  margin-bottom: -30px;
  min-height: 710px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 748px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-1 {
    margin-bottom: 60px;
    margin-top: -664px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-text-2 {
    width: 150px;
    margin-right: 730px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 730px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 730px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-tabs-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 528px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 510px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 510px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 510px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 348px;
  }

  .u-section-1 .u-tabs-2 {
    width: 433px;
    margin-top: initial;
    margin-bottom: initial;
    min-height: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 370px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 148px;
  }

  .u-section-1 .u-tabs-2 {
    width: 340px;
    height: auto;
    min-height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 277px;
  }
}